<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Gestures.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F441530D1F74D6A600D3CA4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F44153211F74D6A700D3CA4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F441532C1F74D6A700D3CA4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
